.container {
  max-width: 1198px; }

.section-one {
  background-color: #232E3C;
  border: 1px solid rgba(255, 255, 255, 0.1); }
  .section-one .mobile-tel, .section-one .mobile-search {
    display: none;
    padding-top: 5px; }
  .section-one .navbar-collapse {
    justify-content: flex-end; }
    .section-one .navbar-collapse ul li {
      margin-left: 40px; }
      .section-one .navbar-collapse ul li a {
        color: white;
        cursor: pointer;
        font-weight: 400;
        font-size: 20px;
        line-height: 100%;
        text-decoration: none; }
    .section-one .navbar-collapse ul li:last-child img {
      margin-left: 40px;
      cursor: pointer; }
    .section-one .navbar-collapse .nav-item {
      display: flex;
      align-items: center;
      cursor: pointer; }
      .section-one .navbar-collapse .nav-item select {
        border: none;
        color: white;
        background: none;
        font-weight: 400;
        font-size: 20px;
        line-height: 100%;
        text-decoration: none; }
        .section-one .navbar-collapse .nav-item select option {
          color: black; }

.section-two {
  background-color: #232E3C; }
  .section-two .nav {
    justify-content: space-between; }
    .section-two .nav .dropdown {
      color: white;
      font-weight: 400;
      font-size: 20px;
      line-height: 100%; }
      .section-two .nav .dropdown .dropdown-menu {
        background: transparent; }
        .section-two .nav .dropdown .dropdown-menu .dropdown-item {
          color: black; }
    .section-two .nav li a {
      color: white;
      font-weight: 400;
      font-size: 20px;
      line-height: 100%;
      text-decoration: none; }

.section-three {
  margin-top: 40px; }
  .section-three .container {
    background: #F7F9FA;
    border: 1px solid #F9F9F9;
    box-sizing: border-box; }
    .section-three .container .col-md-6 {
      padding-left: 0;
      padding-right: 0; }
      .section-three .container .col-md-6 .left-said {
        padding: 130px 0 140px 28px; }
        .section-three .container .col-md-6 .left-said .text {
          font-weight: 500;
          font-size: 40px;
          line-height: 50px; }
        .section-three .container .col-md-6 .left-said a {
          display: block;
          margin-top: 24px;
          font-weight: 600;
          font-size: 20px;
          line-height: 100%;
          color: black; }
    .section-three .container .right-said {
      text-align: right; }
      .section-three .container .right-said img {
        width: 100%; }
      .section-three .container .right-said .owl-nav {
        position: absolute;
        bottom: 37px;
        left: -90%; }
        .section-three .container .right-said .owl-nav .owl-prev, .section-three .container .right-said .owl-nav .owl-next {
          width: 20px;
          height: 20px;
          background-image: url("../images/prev.png") !important;
          background-repeat: no-repeat;
          background-size: 100%; }
          .section-three .container .right-said .owl-nav .owl-prev span, .section-three .container .right-said .owl-nav .owl-next span {
            display: none; }
        .section-three .container .right-said .owl-nav .owl-next {
          margin-left: 100px;
          background-image: url("../images/next.png") !important; }
      .section-three .container .right-said .owl-dots {
        position: absolute;
        bottom: 37px;
        left: -82.7%; }

@media (max-width: 768px) {
  .section-one .mobile-tel, .section-one .mobile-search {
    display: block !important; }
  .section-one .nav {
    overflow: scroll !important; }

  .section-two .nav {
    padding: 16px 0 !important;
    flex-wrap: nowrap;
    overflow-x: scroll; }
    .section-two .nav li {
      flex-shrink: 0;
      margin: 0 10px; }
      .section-two .nav li a {
        font-size: 16px; }

  .section-three {
    margin-bottom: 50px;
    margin-top: 15px; }
    .section-three .container {
      background: #F7F9FA;
      border: 1px solid #F9F9F9;
      box-sizing: border-box; }
      .section-three .container .col-md-6 {
        padding-left: 0;
        padding-right: 0; }
        .section-three .container .col-md-6 .left-said {
          padding: 30px 30px 0 30px; }
          .section-three .container .col-md-6 .left-said .text {
            text-align: center;
            font-size: 24px; }
          .section-three .container .col-md-6 .left-said a {
            font-weight: 600;
            font-size: 16px;
            line-height: 100%;
            text-align: center;
            margin-top: 16px !important;
            margin-bottom: 40px; }
      .section-three .container .right-said {
        text-align: right; }
        .section-three .container .right-said img {
          width: 100%; }
        .section-three .container .right-said .owl-nav {
          left: 0;
          right: 0;
          bottom: -50px;
          z-index: 2; }
        .section-three .container .right-said .owl-dots {
          left: 0;
          right: 0;
          bottom: -11%; } }

/*# sourceMappingURL=main.css.map */
